<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <!-- app container store root path -->
    <property name="FILE_ROOT_PATH" value="./logs/logback" />
    <!-- app runtime log store path -->
    <property name="FILE_RUNTIME_PATH" value="${FILE_ROOT_PATH}/runtime" />
    <!-- app audit log store path -->
    <property name="FILE_AUDIT_PATH" value="${FILE_ROOT_PATH}/audit" />
    <!-- app business log store path -->
    <property name="FILE_BUSINESS_PATH" value="${FILE_ROOT_PATH}/bus" />
    <!-- app runtime log pattern -->
    <property name="RUNTIME_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:sssX} %-5level %logger Line:%-3L-%msg%n" />
    <!-- app audit log pattern -->
    <property name="AUDIT_PATTERN" value="%msg%n" />
    <!-- app business log pattern -->
    <property name="BUSINESS_PATTERN" value="%msg%n" />

    <!-- app runtime log console -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${RUNTIME_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- app runtime log appender -->
    <appender name="runtimeAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_RUNTIME_PATH}/application.log</file>
        <encoder>
            <pattern>${RUNTIME_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_RUNTIME_PATH}/application.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- app audit log appender -->
    <appender name="auditAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_AUDIT_PATH}/audit.json</file>
        <encoder>
            <pattern>${AUDIT_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_AUDIT_PATH}/audit.json.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- app business log appender -->
    <appender name="xxxBusinessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_BUSINESS_PATH}/xxxBus.log</file>
        <encoder>
            <pattern>${BUSINESS_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_BUSINESS_PATH}/xxxBus.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- audit logger -->
    <logger name="auditLogger" additivity="false">
        <appender-ref ref="auditAppender"/>
    </logger>
    <!-- xxx business logger -->
    <logger name="xxxBusinessLogger" additivity="false">
        <appender-ref ref="xxxBusinessAppender"/>
    </logger>
　　
    <root level="INFO">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="runtimeAppender"/>
    </root>
</configuration>